<div>
  <h3>To-Do List (Basic Mode)</h3>

  <p class="searchLabel">New Task</p>
  <input type="text" #addInput placeholder="Cook some pasta" (keyup.enter)="addTask(addInput)">
  <button (click)="addTask(addInput)">
    Add
  </button>

  <ul class="tasks">
    <li *ngFor="let item of list; let i = index" [class.completed]="item.completed">
      {{item.description}}
      <button (click)="toggle(item)">
        Mark as <span *ngIf="item.completed === true">Not</span> Completed
      </button>
      <button (click)="remove(i)">
        Delete
      </button>
    </li>
  </ul>
</div>
